body {
  font-family: "Lora", serif;
  background-image: url('/sky.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  padding: 10px;
  margin: 0;

}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 10px;
  border-radius: 8px;
}

.app {
  text-align: center;
}

.logo {
  width: 100%; 
  max-width: 150px; 
  margin: 20px auto; 
  display: block; 
  border-radius: 8px; 
}

input {
  padding: 5px;
  margin: 5px;
  border: 1px solid #7FC7D9;
  width: 30%; 
  box-sizing: border-box; 
  border-radius: 6px;
}

button {
  padding: 8px;
  text-align: center;
  border: none;
  cursor: pointer;
  font-weight: bold;
  width: 10%; 
  border-radius: 6px;
  margin-top: 20px;
}

.spinner {
  border: 8px solid #b8b8b8; 
  border-top: 8px solid #3498db; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error-message {
  color: red;
  background-color: #f8d7da; 
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
  font-weight: bold;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (max-width: 768px) {

  .logo {
    width: 100%; 
    max-width: 100px; 
    margin: 20px auto; 
    display: block; 
    border-radius: 8px; 
  }
  

  input, button {
    padding: 15px; 
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .Weather-h1 {
    font-size: 18px; 
  }

  input {
    font-size: 12px; 
    width: 50%;
  } 

  button {
    font-size: 14px; 
    width: 30%;
  }
}
